@charset "ISO-8859-1";

table, td{    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
th{
	background: #f1f1f1; 
	
	overflow: auto;
	
}
.tableau{
	max-height: 40em; max-width: 68em; overflow: auto;
}