
errorCreationCandidate{
	text-align: center;
	color: red;
	font: bold;
	font-size: medium;
}
#erreur{
	color: red;
}
#format{
	color: grey;
	font-size: small;
	font: small-caps;
}
#messagedoublon{
	color: red;
	font-size: small;
	font: small-caps;
	
}
#homonymeimport{
	color: red;
	font-size: small;
	font: small-caps;
}